Repository mozilla/code-coverage, pull requests merged in 2019-10, with the labels that each got.

#210 bot: Use public download url for artifacts
  bot/code_coverage_bot/taskcluster.py
  bot/tests/test_taskcluster.py
Labels: bot, bug

#213 tools: Limit yarl version to avoid build issues
  tools/requirements.txt
Labels: bug

#236 Modify the tooltip message for counters
  frontend/src/base.html
Labels: enhancement, frontend
